/*********************************************************************
************************* Style Global Rouls *************************
*********************************************************************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

html {
    scroll-behavior: smooth
}

:root {
    --main-color: #2196f3;
    --secound-color: #e6e6e7;
    --background: #ececec;
    --text-color: #777;
    --main-transition: .4s;
    --main-padding: 100px;
    --gap-cards: 40px;
    --radues: 7px;
}

body {
    font-family: 'Work Sans', sans-serif, Tahoma, Geneva, Verdana;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto
}

@media (min-width: 768px) {
    .container {width: 750px}
}

@media (min-width: 992px) {
    .container {width: 970px}
}

@media (min-width: 1200px) {
    .container {width: 1170px}
}

button {
    background: none
}

button:focus {
    outline: none
}

ul {
    list-style: none
}

a {
    text-decoration: none;
    color: inherit
}

/********************** End Style Global Rouls ***********************/

/*********************** commponant styling *************************/

.main-heading {
    width: fit-content;
    margin: auto;
    font-size: 26px;
    text-transform: uppercase;
    border: 2px solid;
    padding: 12px 20px;
    position: relative;
    user-select: none;
    margin-bottom: var(--main-padding);
    z-index: 1;
}

.main-heading::before,
.main-heading::after {
    content: "";
    width: 13px;
    height: 13px;
    background: var(--main-color);
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: var(--main-transition);
}

.main-heading::before {
    left: -25px;
}

.main-heading::after {
    right: -25px;
}

.main-heading:hover {
    color: white;
    transition-delay: .6s;
}

.main-heading:hover::before,
.main-heading:hover::after {
    animation: main-heading-anmation var(--main-transition) linear .2s forwards;
    z-index: -1;
}

.main-heading:hover::before {
    left: 0;
}

.main-heading:hover::after {
    right: 0;
}

/*******   Anmaition   ********/

@keyframes main-heading-anmation {
    to {
        border-radius: 0%;
        width: 51%;
        height: 100%;
    }
}

/*********************************************************************
************************** Style to project **************************
*********************************************************************/

/********************** Start Style Navigation ***********************/

nav {
    box-shadow: 0 0 10px #ececec;
}


nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative
}

nav h3.logo {
    color: var(--main-color);
    font-size: 26px;
    margin: 10px 0;
}

nav h3.logo span {
    text-transform: uppercase;
}

nav ul { /* global list => main - child */
    display: flex;
}

nav ul li { /* global list => main - child */
    text-transform: capitalize;
    font-size: 18px;
}

nav ul li a { /* global list => main - child */
    display: block;
    text-decoration: none;
    color: inherit;
    transition: var(--main-transition);
}

nav ul.main > li > a {
    padding: 25px;
    position: relative;
    overflow: hidden;
}

nav ul.main > li > a:hover {
    background-color: var(--background);
    color: var(--main-color)
}

nav ul.main > li > a:hover:before {
    left: 0;
}

nav ul.main > li > a::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    background: var(--main-color);
    height: 3px;
    width: 100%;
    transition: var(--main-transition)
}

nav .mega-menu {
    position: absolute;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 25px;
    border-bottom: 4px solid var(--main-color);
    transition: var(--main-transition);
    top: calc(100% + 50px);
    z-index: -1;
    opacity: 0;
}

nav .mega-menu.active {
    top: calc(100% + 2px);
    opacity: 1;
    z-index: 100;
}

nav .mega-menu img {
    width: 35%;
}

nav .mega-menu ul {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav .mega-menu ul li {
    width: 45%;
    color: var(--main-color);
    border-bottom: 1px solid var(--background);
    font-size: 18px;
    font-weight: bold;
}

nav .mega-menu ul li:last-of-type {
    border-bottom: none;
}

nav .mega-menu ul li a {
    padding: 15px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

nav .mega-menu ul li a:hover::before {
    left: 0;
}

nav .mega-menu ul li a::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -1;
    background: #fafafa;
    height: 100%;
    width: 100%;
    transition: var(--main-transition)
}

nav .mega-menu ul li a i {
    margin-right: 10px;
}

/* Media => 0 > 991px */
@media (max-width: 991px) {
    nav .mega-menu img {
        display: none;
    }

    nav .mega-menu ul {
        width: 100%;
    }
}

/* Media => 0 > 767px */
@media (max-width: 767px) {
    nav .container {
        display: block;
    }
    nav .container h3 {
        text-align: center;
    }
    nav .container > ul {
        justify-content: center;
    } 
    nav ul li {
        font-size: 15px;
    }
    nav ul.main > li > a {
        padding: 12px
    }
    nav .mega-menu {
        padding: 10px;
    }
    nav .mega-menu ul li {
        width: 100%;
    }
}

/********************** End Style Navigation ***********************/

/********************** Start Style hero ***********************/

header {
    min-height: calc(100vh - 71px);
    position: relative;
    overflow: hidden;
}

header::before {
    content: "";
    background-color: var(--background);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transform: skewY(-5deg) translateY(-95px)
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px
}

header .text {
    flex-basis: 55%;
    min-height: 345px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header .text h1 {
    text-transform: capitalize;
    color: var(--main-color)
}

header .text p {
    line-height: 1.6;
    font-size: 18px;
    color: #666;
    text-align: justify;
    max-width: 500px;
}

header img {
    margin-top: 20px;
    width: 37%;
    animation: top-down 1s linear infinite alternate;
}

header .arrow {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    font-size: 34px;
    color: var(--main-color);
    animation: bouncing 1.2s ease-in-out infinite alternate 
}

header .arrow:hover {
    animation-play-state: paused ;
}

/*******   Anmaition   ********/

@keyframes top-down {
    to {
        transform: translateY(-30px);
    }
}

/* @keyframes arrow {
    20% {
        bottom: 40px
    }
    40% {
        bottom: 30px
    }
    60% {
        bottom: 40px
    }
    80% {
        bottom: 30px
    }
} */

@keyframes bouncing {
    0%,
    10%,
    20%,
    50%,
    80%,
    100% {
        bottom: 30px
    }

    40%,
    60% {
        bottom: 40px
    }
}

/*******   Responsive   ********/

@media (max-width: 991px) {
    
    header .container {
        justify-content: center
    }

    header .text {
        flex-basis: 80%
    }

    header .text h1,
    header .text p {
        text-align: center;
    }

    header .text p {
        margin: 0 auto;
    }

    header img {
        display: none
    }
}

@media (max-width: 767px) {
    header {min-height: calc(100vh - 93px);}
    header .text {flex-basis: 100%;}
    header .text h1 {font-size: 20px}
}

/*************************** End Style hero **************************/

/********************** Start Style Aritecles ************************/

.articles {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}

.articles .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: var(--gap-cards)
}

.articles .cards .card {
    --paddind-card: 15px;
    background-color: white;
    box-shadow: 0 5px 15px rgb(0 0 0 / .1);
    transition: var(--main-transition);
    border-radius: 7px;
    overflow: hidden;
}

.articles .cards .card:hover {
    transform: translateY(-15px);
    box-shadow: 0 5px 15px rgb(0 0 0 / .3);
}

.articles .cards .card:hover .link-more i {
    animation: arrow-cards 1s linear infinite
}

.articles .card img {
    max-width: 100%;
}

.articles .card .text {
    padding: var(--paddind-card);
}

.articles .card h3 {
    margin-bottom: var(--paddind-card);
    text-transform: capitalize;
}

.articles .card p {
    line-height: 1.6;
    color: #777;
}

.articles .card .link-more {
    padding: var(--paddind-card);
    border-top: 1px solid #e6e6e7;
    color: var(--main-color);
    display: flex;
    justify-content: space-between;
}

.articles .card .link-more a {
    text-transform: capitalize;
    font-weight: bold
}

/*******   Anmaition   ********/

@keyframes arrow-cards {
    to {
        transform: translateX(10px)
    }
}

/************************ End Style Aritecles ***********************/

/************************ Start Style Gallery **********************/

.gallery {
    --gallery-transtion: .7s;
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: var(--background);
}

.gallery .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--gap-cards);
}

.gallery .cards .card {
    padding: 15px;
    background-color: white;
    box-shadow: 0 0 20px rgb(0 0 0 / .4);
    cursor: pointer;
    transition: var(--gallery-transtion);
}

.gallery .cards .card:hover {
    box-shadow: 0 0 30px rgb(0 0 0 / .6);
}

.gallery .card:hover .image::before {
    animation: flashing var(--gallery-transtion);
}

.gallery .card:hover img {
    transform: rotate(6deg) scale(1.2);
}

.gallery .card .image {
    position: relative;
    overflow: hidden;
}

.gallery .card .image::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(250 250 250 / .2);
    z-index: 1;
    width: 0;
    height: 0;
}

.gallery .card img {
    max-width: 100%;
    position: relative;
    transition: var(--gallery-transtion);
}

/*******   Anmaition   ********/

@keyframes flashing {
    0%, 20% {
        width: 0;
        height: 0;
    }

    100% {
        width: 200%;
        height: 200%;
    }
}

/************************ End Style Gallery ***********************/

/********************** Start Style Features *********************/

.features {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}

.features .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--gap-cards)
}

.features .cards .feature {
    border: 1px solid var(--secound-color);
    box-shadow: 0 5px 15px rgb(0 0 0 / .1);
}

/* features card colors */
.features .cards .feature:first-of-type {--color: #f44336}

.features .cards .feature:nth-of-type(2) {--color: #009688}

.features .cards .feature:last-of-type {--color: #2196f3}

/* features hover */
.features .cards .feature:hover .image::after {transform: skewY(30deg)}

.features .cards .feature:hover button {color: white}

.features .cards .feature:hover button::before {left: 0} 

.features .feature .image {
    position: relative;
    overflow: hidden;
}

.features .feature .image::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: -1px; /* becose mistake whine mobile screen*/
    left: 0;
    background-color: var(--color);
    opacity: .5;
}

.features .feature .image::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: -70%;
    left: 0;
    background-color: white;
    transform: skewY(-30deg);
    transition: var(--main-transition);
}

.features .feature .image img {max-width: 100%;}

.features .feature .text {
    text-align: center;
    padding: 25px; 
    font-size: 20px;
}

.features .feature .text h3 {
    width: fit-content;
    margin: 0 auto 50px;
    text-transform: uppercase;
    font-size: 28px;
    position: relative;
}

.features .feature .text h3::after {
    content: "";
    position: absolute;
    width: 80%;
    height: 5px;
    background: var(--color);
    bottom: -15px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 7px;
}

.features .feature .text p {
    color: #777;
    line-height: 2;
}

.features .feature .text button {
    border: none;
    padding: 10px 25px;
    color: var(--color);
    border: 3px solid;
    border-radius: 7px;
    margin-top: 30px;
    font-weight: bold;
    text-transform: capitalize;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: var(--main-transition);
}

.features .feature .text button::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -1;
    background-color: var(--color);
    transition: var(--main-transition);
}

/*********************** End Style Features **********************/

/******************** Start Style Testimonials *******************/

.testimonials {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: var(--background);
}

.testimonials .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--gap-cards)
}

.testimonials .cards .card {
    position: relative;
    background-color: white;
    padding: 25px;
}

.testimonials .card img {
    position: absolute;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    padding: 10px;
    background: var(--background);
    right: -10px;
    top: 0;
    transform: translateY(-50%)
}

.testimonials .card h3 {
    text-transform: capitalize;
    margin-bottom: 8px;
}

.testimonials .card span {
    color: var(--text-color);
    text-transform: capitalize;
}

.testimonials .card .icon {
    margin: 8px 0;
}

.testimonials .card .icon i {
    color: var(--text-color);
}

.testimonials .card .icon i.star {
    color: #ffc107;
}

.testimonials .card p {
    line-height: 1.6;
    color: var(--text-color);
}

/******************** End Style Testimonials *******************/

/******************** Start Style team members *******************/

.team-members {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}

.team-members .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--gap-cards)
}

.team-members .cards .member {
    position: relative;
    padding: 50px 0 25px;
    overflow: hidden;
}

/* member hovering */

.team-members .cards .member:hover::after {right: 0}

.team-members .cards .member:hover img {filter: grayscale(100%);}

.team-members .cards .member:hover h3 {color: var(--text-color)}

.team-members .cards .member:before,
.team-members .cards .member::after {
    content: "";
    width: calc(100% - 70px);
    height: 100%;
    position: absolute;
    top:0;
    z-index: -1;
    border-radius: var(--radues);
}

.team-members .cards .member:before {
    background-color: var(--background);
    right: 0;
}

.team-members .cards .member::after {
    background-color: #ccc;
    right: calc(-100% + 70px);
    transition: var(--main-transition);
}

.team-members .member .image-icon {
    display: flex;
}

.team-members .member .image-icon img {
    width: calc(100% - 70px);
    border-radius: var(--radues);
    transition: var(--main-transition);
}

.team-members .member .image-icon i:hover {
    color: var(--main-color)
}

.team-members .member .image-icon .icon {
    width: 70px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    font-size: 20px;
    color: var(--text-color)
}

.team-members .member h3 {
    margin: 20px 0 12px 85px;
    text-transform: capitalize;
    color: var(--main-color);
    font-size: 22px;
    transition: var(--main-transition);
}

.team-members .member p {
    margin-left: 85px;
    color: var(--text-color)
}


/******************** End Style team members *******************/

/******************** Start Style services ********************/

.services {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: var(--background);
}

.services .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: var(--gap-cards)
}

.services .cards .service {
    background-color: white;
    text-align: center;
    box-shadow: 0 0 10px rgb(0 0 0 / .2);
    transition: var(--main-transition);
    position: relative;
    counter-increment: number
}

/* hovering */
.services .cards .service:hover {
    transform: translateY(-10px);
    box-shadow: 0 0 15px rgb(0 0 0 / .3);
}

.services .cards .service:hover::before {
    width: 100%;
}

.services .cards .service::before {
    content: "";
    width: 0;
    height: 3px;
    background-color: #2196f3;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    transition: var(--main-transition)
}

.services .service .title {
    padding: 30px 0;
}

.services .service .title i {
    color: var(--text-color)
}

.services .service .title h3 {
    margin-top: 20px;
    text-transform: capitalize;
    color: var(--main-color);
    font-size: 24px;
}

.services .service .footer {
    padding: 15px;
    background-color: #f9f9f9;
    text-align: right;
    overflow: hidden;
    position: relative
}

.services .service .footer::before {
    content: "0" counter(number);
    font-size: 28px;
    font-weight: bold;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    height: 100%;
    background-color: var(--main-color);
    padding-right: 5%;
    position: absolute;
    top: 0;
    left: 0;
}

.services .service .footer::after {
    content: "";
    width: 10%;
    height: 100%;
    background-color: #d5d5d5;
    position: absolute;
    top: 0;
    left: 25%;
    transform: skewX(-20deg)
}

.services .service .footer a {
    color: var(--main-color);
    text-transform: capitalize;
}

/********************* End Style services ********************/

/********************* Start Style skills ********************/

.our-skills {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}

.our-skills .content {
    display: flex;
    align-items: flex-start;
    gap: 50px;
}

.our-skills .content img {
    width: 45%;
}

.our-skills .content .skills {
    flex-basis: 55%;
    flex-grow: 1;
}

.our-skills .skills h3 {
    text-transform: capitalize;
    font-size: 22px;
    margin: 15px 0;
}

.our-skills .skills .porg {
    height: 30px;
    background-color: var(--background);
    position: relative;
}

.our-skills .skills .porg span {
    display: block;
    height: 100%;
    background-color: var(--main-color);
}

.our-skills .skills .porg span::before {
    content: attr(data-progress);
    position: absolute;
    right: 0;
    top: calc(-100% - 10px);
    padding: 4px;
    border: 1px solid var(--secound-color);
    border-radius: 4px;
    color: var(--main-color);
    background-color: white;
    font-size: 14px;
    font-weight: bold;
}

@media (max-width: 991px) {
    .our-skills .content img {
        display: none
    }
}

/********************* End Style skills ********************/

/********************* Start Style It Works ********************/

.it-works {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
    background-color: var(--background);
}

.it-works .content {
    display: flex;
    align-items: center;
    gap: 50px;
}

.it-works .content > * {
    width: 50%;
}

.it-works .content .image img {max-width: 100%;}

.it-works .content .works {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.it-works .works .card {
    display: flex;
    align-items: center;
    gap: 35px;
    background-color: #f4f2f2;
    border: 2px solid white;
    cursor: pointer;
    padding: 35px;
    box-shadow: 0 0 15px rgb(0 0 0 / .2);
    border-radius: var(--radues);
    position: relative;
    z-index: 1;
}

.it-works .works .card::before {
    content: "";
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--background);
    z-index: -1;
    transition: var(--main-transition)
}

.it-works .works .card:hover::before {
    width: 100%;
    height: 100%;
}

.it-works .works .card h3 {
    text-transform: capitalize;
    margin-bottom: 10px;
    font-size: 20px;
}

.it-works .works .card p {
    line-height: 1.6;
    color: var(--text-color)
}

.it-works .card img {width:70px}

/* Media Quires */

@media (max-width: 991px) {
    .it-works .content {
        flex-direction: column;
    }

    .it-works .content > * {
        width: 100%;
    }
}

@media (max-width: 767px) {
    .it-works .works .card {
        flex-direction: column;
        text-align: center;
    }
}

/********************* End Style It Works ********************/

/********************* Start Style Events ********************/

.events {
    padding-top: var(--main-padding);
    padding-bottom: var(--main-padding);
}

.events .info {
    display: flex;
    align-items: center;
}

.events .info > img {
    width: 40%;
}

.events .info .content .timer {
    display: flex;
}

.events .info .content .timer section {
    padding: 10px
}

.events .info .content h3 {

}

.events .info .content p {
    
}


/********************* End Style Events ********************/
















/********************* Start Style footer ********************/

body > footer {
    padding-top: var(--main-padding);
    background-color: #191919;
    color: #999;
}

body > footer .container {
    padding-bottom: calc(var(--main-padding) / 2);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: var(--gap-cards);
}

body > footer .info h2 {
    text-transform: capitalize;
    color: white;
    font-size: 34px;
}

body > footer .info .icon {
    margin: 20px 0;
    display: flex;
    gap: 15px;
}

body > footer .info .icon a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #313131;
    width: 50px;
    height: 50px;
    font-size: 26px;
    transition: var(--main-transition);
    color: #b9b9b9
}

body > footer .info .icon a:hover {
    background-color: var(--main-color);
    color: white;
}

body > footer .info p {
    line-height: 1.6;
}

body > footer .links li:not(:last-of-type) {
    border-bottom: 2px solid #313131;
}

body > footer .links a {
    display: block;
    padding: 15px 0;
    position: relative;
    transition: var(--main-transition);
}

body > footer .links a:hover {
    transform: translateX(15px);
    color: white
}

body > footer .links a::before {
    content: "\F101";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    margin-right: 8px;
    color: var(--main-color)
}

body > footer .address article {
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

body > footer .address i {
    font-size: 26px;
    margin-right: 15px;
    color: var(--main-color)
}

body > footer .address p {
    line-height: 1.6;
}

body > footer .projects {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
    gap: 5px;
}

body > footer .projects img {
    width: 80px;
    height: 80px;
    border: 3px solid white
}

@media (max-width: 767px) {
    body > footer .container {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    body > footer .info .icon {
        justify-content: center;
    }

    body > footer .links a {
        min-width: 300px;
    }

    body > footer .address article {
        flex-direction: column;
        gap: 15px;
    }
}

/* foorer copy right */
body > footer .copy-right {
    padding: 30px 15px;
    background-color: #191919;
    text-align: center;
    color: var(--secound-color);
    text-transform: capitalize;
    border-top: 3px solid #313131;
    line-height: 1.6;
    font-size: 18px;
}

body > footer .copy-right a {
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    transition: var(--main-transition);
}

body > footer .copy-right a:hover {color: var(--main-color)}

/********************* End Style footer  ********************/