/*********************************************************************
************************* Style Global Rouls *************************
*********************************************************************/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box
}

html {
    scroll-behavior: smooth
}

:root {
    --main-color: #2196f3;
    --background: #ececec;
    --text-color: #666;
    --main-transition: .4s;
    --main-padding: 100px;
}

body {
    font-family: 'Work Sans', sans-serif, Tahoma, Geneva, Verdana;
}

.container {
    padding-left: 20px;
    padding-right: 20px;
    margin-left: auto;
    margin-right: auto
}

@media (min-width: 768px) {
    .container {width: 750px}
}

@media (min-width: 992px) {
    .container {width: 970px}
}

@media (min-width: 1200px) {
    .container {width: 1170px}
}

button {
    background: none
}

button:focus {
    outline: none
}

ul {
    list-style: none
}

a {
    text-decoration: none;
    color: inherit
}

/********************** End Style Global Rouls ***********************/





/*********************************************************************
************************** Style to project **************************
*********************************************************************/

/********************** Start Style Navigation ***********************/

nav {
    box-shadow: 0 0 10px #ececec;
}


nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative
}

nav h3.logo {
    color: var(--main-color);
    font-size: 26px;
    margin: 10px 0;
}

nav h3.logo span {
    text-transform: uppercase;
}

nav ul { /* global list => main - child */
    display: flex;
}

nav ul li { /* global list => main - child */
    text-transform: capitalize;
    font-size: 18px;
}

nav ul li a { /* global list => main - child */
    display: block;
    text-decoration: none;
    color: inherit;
    transition: var(--main-transition);
}

nav ul.main > li > a {
    padding: 25px;
    position: relative;
    overflow: hidden;
}

nav ul.main > li > a:hover {
    background-color: var(--background);
    color: var(--main-color)
}

nav ul.main > li > a:hover:before {
    left: 0;
}

nav ul.main > li > a::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    background: var(--main-color);
    height: 3px;
    width: 100%;
    transition: var(--main-transition)
}

nav .other-links {
    position: absolute;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 25px;
    border-top: 2px solid var(--background);
    border-bottom: 4px solid var(--main-color);
    display: none;
    z-index: 100;
}

nav .other-links.active {
    display: flex
}

nav .other-links img {
    width: 35%;
}

nav .other-links ul {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

nav .other-links ul li {
    width: 45%;
    color: var(--main-color);
    border-bottom: 1px solid var(--background);
    font-size: 18px;
    font-weight: bold;
}

nav .other-links ul li:last-of-type {
    border-bottom: none;
}

nav .other-links ul li a {
    padding: 15px;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

nav .other-links ul li a:hover::before {
    left: 0;
}

nav .other-links ul li a::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    z-index: -1;
    background: #fafafa;
    height: 100%;
    width: 100%;
    transition: var(--main-transition)
}

nav .other-links ul li a i {
    margin-right: 10px;
}

/* Media => 0 > 991px */
@media (max-width: 991px) {
    nav .other-links img {
        display: none;
    }

    nav .other-links ul {
        width: 100%;
    }
}

/* Media => 0 > 767px */
@media (max-width: 767px) {
    nav .container {
        display: block;
    }
    nav .container h3 {
        text-align: center;
    }
    nav .container > ul {
        justify-content: center;
    } 
    nav ul li {
        font-size: 15px;
    }
    nav ul.main > li > a {
        padding: 12px
    }
    nav .other-links ul li {
        width: 100%;
    }
}

/********************** End Style Navigation ***********************/

/********************** Start Style hero ***********************/

header {
    min-height: calc(100vh - 71px);
    position: relative;
    overflow: hidden;
}

header::before {
    content: "";
    background-color: var(--background);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    transform: skewY(-5deg) translateY(-95px)
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px
}

header .text {
    flex-basis: 55%;
    min-height: 345px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header .text h1 {
    text-transform: capitalize;
    color: var(--main-color)
}

header .text p {
    line-height: 1.6;
    font-size: 18px;
    color: #666;
    text-align: justify;
}

header img {
    margin-top: 20px;
    width: 37%;
    animation: top-down 1s linear infinite alternate;
}

header .arrow {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);
    font-size: 34px;
    color: var(--main-color);
    animation: arrow 1s ease-in-out infinite alternate 
}

/*******   Anmaition   ********/

@keyframes top-down {
    to {
        transform: translateY(-30px);
    }
}

@keyframes arrow {
    20% {
        bottom: 40px
    }
    40% {
        bottom: 30px
    }
    60% {
        bottom: 40px
    }
    80% {
        bottom: 30px
    }

}

/*******   Responsive   ********/

@media (max-width: 991px) {
    
    header .container {
        justify-content: center
    }

    header .text {
        flex-basis: 80%
    }

    header .text h1,
    header .text p {
        text-align: center
    }

    header img {
        display: none
    }
}

@media (max-width: 767px) {
    header {min-height: calc(100vh - 93px);}
    header .text {flex-basis: 100%;}
    header .text h1 {font-size: 20px}

}

/********************** End Style hero ***********************/